.home-body{
  background-color: #f7f7f7 ;
}

@media (max-width: 767.98px) {
  .row {
    flex-direction: column-reverse;
  }
  .w-75 {
    width: 100% !important;
  }
  .img-radius{
    border-radius: 5px;
  }
}

.read-more {
  color: #fff;
  font-size: 18px;

  text-decoration: none;
  margin-top: 10px;
  background:  #28c1cb;
  padding: 0.5rem;
}

.read-more:hover{
  color: #28c1cb;
  background: #446284;
}

.order-now{
  border: none !important;
  transition: 250ms;
  background-color: #28c1cb ;
}

.order-now:hover{
  background-color: #446284;
  color: #fff;
}

.img-radius{
  border-radius: 30px;
}

/* @media (max-width: 767px) {
  .service-bg{
    background-image: url('../../../Assets/images/HomeImage/service-bg-mobile.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
} */

.wave-white-gray{
  background: url('../../../Assets/images/HomeImage/wave-white-gray.png') left top repeat-x;
}