.footer  {
  background: var(--bs-dark-blue);
  color: #fff;
}

.footer-ul {
  font-size: 14px;
  list-style: none; 
  padding: 0;
}

.footer-li{
  text-decoration: none !important;
  list-style-type: none;
  color: #fff !important;
  
}

.footer-copyright {
  color: grey;
  font-size: 13px;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.footer-detail{
  color: rgb(129, 128, 128);
}
