.footer  {
  background: var(--bs-dark-blue);
  color: #fff;
}

.footer-li {
  font-size: 14px;
  
  list-style: none; 
  padding: 0;
}

.footer-li li{
  text-decoration: none;
  color: #fff;
}

.footer-copyright {
  color: grey;
  font-size: 13px;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
