.contact-bg {

  background-image: url('../../../Assets/images/HomeImage/dst-bg-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 
 

}


.contact-info{
  background-image: url('../../../Assets/images/HomeImage/contact-bg-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 767px) {
  .contact-bg {

    background-image: url('../../../Assets/images/HomeImage/bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    padding-top: 8rem;
    padding-bottom: 8rem;
  
  }

  .contact-info{
    background-image: url('../../../Assets/images/HomeImage/contact-bg-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }
}

/* @media (min-width: 1281px) {

  .contact-bg {

    background-image: url('../../../Assets/images/HomeImage/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    padding-top: 10rem;
    padding-bottom: 15rem;
  
  }
} */


.contact-icon{
  width: 85px;
  height: 85px;
  background-color: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .05);
  border-radius: 50%;
  position: relative;
  align-items: center;
  font-size: 26px;
}

.icon-title{
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  position: relative;
  letter-spacing: .07em;
}